<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jian.mapper.JMask_Mapper">
    <select id="selectCompareAppWebList" resultType="CompareAppWeb">
        select * from compareAppWeb;
    </select>
    <select id="selectJMaskAppInfo" resultType="JMaskAppInfo">
        select * from JMaskAppInfo order by date desc limit 0,1;
    </select>
</mapper>