<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jian.mapper.User_Mapper">
    <select id="selectAllUsers" resultType="user">
        select * from user;
    </select>

    <select id="countUsersByName" resultType="int">
        select count(id) from user where BINARY userName = #{userName};
    </select>

    <select id="selectUserByName" parameterType="String" resultType="user">
        select * from user where BINARY userName = #{userName};
    </select>

    <select id="selectUserByID" parameterType="String" resultType="user">
        select * from user where BINARY id = #{ID};
    </select>

    <insert id="insertUser" parameterType="user">
        INSERT INTO `user` (`id`, `userName`, `password`, `createDate`) VALUES (#{id}, #{userName}, #{password}, #{createDate});
    </insert>

    <update id="updateUserName" parameterType="String">
        UPDATE `user` SET `userName` = #{newUserName} WHERE (`id` = #{id});
    </update>

    <update id="updatePassWord" parameterType="String">
        UPDATE `user` SET `password` = #{newPassWord} WHERE (`id` = #{id});
    </update>

    <delete id="removeAccount" parameterType="String">
        DELETE FROM `user` WHERE (`id` = #{id});
        DELETE FROM `log` WHERE (`userID` = #{id});
        DELETE FROM `avatar` WHERE (`userID` = #{id});
    </delete>

    <insert id="uploadAvatar" parameterType="String">
        REPLACE INTO `avatar` (`userID`, `avatarURL`) VALUES (#{id}, #{avatarURL});
    </insert>

    <update id="updateHasAvatar">
        UPDATE `user` SET `hasAvatar` = #{hasAvatar} WHERE (`id` = #{id});
    </update>

    <insert id="addUserLog">
        INSERT INTO `JianMask`.`log` (`userID`, `imgName`) VALUES (#{id}, #{imgName});
    </insert>

    <select id="selectUserLog" resultType="log">
        SELECT * FROM `log` WHERE (`userID` = #{id}) LIMIT #{startIndex},#{endIndex};
    </select>
    <select id="countUserLog" resultType="int">
        SELECT count(id) FROM `log` WHERE (`userID` = #{id});
    </select>
</mapper>